<div class = "my-pages">
<% @tweets.each do |tweet| %>
<div class = "container-fluid my-con">
  <h2><%= link_to tweet.author, "/show/#{tweet.id}", :class => "my-link" %></h2>
  <h4><%= tweet.created_at %></h4>
  <p><%= tweet.body %></p>
</div>
<% end %>

<%= link_to "New Tweet", "/new", :class => "my-link" %>
</div>
